.module-calendar{
  width: 100%;
  height: 100%;
  background-color: $black;

  .module-calendar-btn-edit{
    @extend .btn;
    background-color: #808080; //grey
    float: right;
  }

  .module-calendar-eventscontainer{
    padding: 10px;
    border: solid $white 2px;

    .module-calendar-event{
      padding: 10px;
      border: solid $white 2px;
      margin-bottom: 10px;
    }
  }
}