// Colors
$white: #FFF;
$black: #000;
$background-color: #71798A;
//$background-color: #606775;
//$background-color: #9A9A9E;
$orange: #FF8F22;

//Fonts
$font-stack:  Helvetica Neue, Helvetica, Arial, sans-serif;