<div class="inner">
    <div class="controls">
        <a href="#zoom1" class="resize" ng-click="resize(1, 1)" data-w="1" data-h="1">1x1</a>
        <a href="#zoom2" class="resize" ng-click="resize(2, 1)" data-w="2" data-h="1">2x1</a>
        <a href="#zoom3" class="resize" ng-click="resize(3, 1)" data-w="3" data-h="1">3x1</a>
        <a href="#zoom1" class="resize" ng-click="resize(1, 2)" data-w="1" data-h="2">1x2</a>
        <a href="#zoom2" class="resize" ng-click="resize(2, 2)" data-w="2" data-h="2">2x2</a>
    </div>
    <ng-transclude></ng-transclude>
</div>