<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-if="title">
        <h3 class="modal-title">{{title}}</h3>
      </div>
      <div class="modal-body">
        <ng-include src="templateUrl"></ng-include>
      </div>
      <div class="modal-footer">
        <button class="button button-white-ghost" ng-if="cancel" ng-click="cancel()">Abbrechen</button>
        <button class="button button-white" ng-if="submit" ng-click="isDiabled == undefined ? submit() : !isDisabled() && submit()" ng-class="{disabled: isDisabled && isDisabled()}">Speichern</button>
      </div>
    </div>
  </div>
</div>
