<div class="time">
    <div class="btn-group-module" show-on-mouse-move>
        <button class="button button-white" ng-click="edit()">Edit</button>
        <button class="button button-white" ng-click="delete()">Del</button>
    </div>
    <canvas ng-if="viewType == 'analog'" id="clockCanvas" class="clockCanvas" width="100" height="100" style="background-color:#000"></canvas>
    <div ng-if="viewType == 'digital'" class="time-container">
        <div class="timeDisplay">{{ time | date : 'hh:mm'}}</div>
    </div>
    <div ng-if="countdown" class="countdown-container">
        <div class="countdownDisplay">{{ counter | date : 'mm:ss:sss'}}</div>
    </div>
    <div ng-if="viewType == 'digital'" class="date-container">
        <div class="dateDisplay">{{ time | date : 'mediumDate'}}</div>
    </div>
    <div class="module-buttonbar">
        <button ng-if="!countdown" class="button button-white-ghost startCountdown" ng-click="toggleCountdown()" show-on-mouse-move >Timer</button>
        <button class="button button-white-ghost stopCountdown hidden" ng-click="toggleCountdown()">Stop</button>
    </div>
</div>
