<module-weather>
    <form name="weatherSearch" > <!-- ng-submit="printLoc()"-->
        <input id="search" type="text" ng-model="query"  ng-change="getLocations()" ng-minlength="3"
               style="color:black" list="locations">
        <datalist id="locations">
            <option ng-repeat="location in locationsFound" ng-attr-id="{{location.id}}"> <!-- ng-model="locationSelected"-->
            {{ location.name + ", " + location.countryCode }}
            </option>
        </datalist>
        <button type="submit">get weather</button>
    </form>
</module-weather>
