<div class="publictransport">
    <div style="position: absolute; top: 0; right: 0; z-index: 300;">
        <button class="button button__module--edit" ng-click="edit()" show-on-mouse-move>Edit</button>
        <button class="button button__module--delete" ng-click="delete()">delete</button>
    </div>
    <h2>{{module.stationName}}</h2>
    <ul class="departures">
        <li ng-repeat="departure in departures | departures: 'realTime' | limitTo: module.height * 10">
            <div class="line-name"><span class="line-name-label">{{departure.name}}</span></div>
            <div class="direction">{{departure.direction}}</div>
            <div class="departure-time" minute-difference="{{departure.realTime}}"></div>
        </li>
    </ul>
</div>