<div class="weather">
    <div class="btn-group-module" show-on-mouse-move>
        <button class="button button-white button--edit" ng-click="edit()"><i class="fa fa-cog" aria-hidden="true"></i></button>
        <button class="button button-white button--delete" ng-click="delete()"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
    <div ng-if="weatherData != null">
        <h3>{{location.name}}</h3>
        <ul>
            <li>{{::query }} <i class="wi wi-owm-{{ weatherData.current.weatherId }} "></i>
                {{ weatherData.current.temperature | celsius }}
            </li>
            <li>Today min.: {{ weatherData.daily[0].temperature.min | celsius }}</li>
            <li>Today max.: {{ weatherData.daily[0].temperature.max | celsius }}</li>
            <!--<div class="forecast" ng-repeat="weather in weatherData.daily">-->
                <!--<div class="forecast&#45;&#45;element">{{ weather.dateTime | date:'EEE'}}</div>-->
                <!--<div class="forecast&#45;&#45;element"><i class="wi wi-owm-{{ weather.weatherId }} "></i></div>-->
                <!--<div class="forecast&#45;&#45;element">{{ weather.temperature.average | celsius }}</div>-->
            <!--</div>-->
        </ul>
    </div>
</div>

