<div class="calendar">
    <div show-on-mouse-move>
        <button class="button button__module--edit" ng-click="edit()">Edit</button>
        <button class="button button__module--delete" ng-click="delete()">Del</button>
    </div>
    <div class="calendar-container--events">
        <ul>
            <li class="calendar-listitem--event" ng-repeat="event in events">
                <ul>
                    <li class="calendar-listitem--event--summary">{{ event.summary }}</li>
                    <li class="calendar-listitem--event--location">{{ event.location }}</li>
                    <li class="calendar-listitem--event--startTime">{{ event.startTime | date : 'shortTime' }}</li>
                    <li class="calendar-listitem--event--endTime">{{ event.endTime | date : 'shortTime' }}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>