.calendar {
    width: 100%;
    height: 100%;
    background-color: $black;

    //calendar-settings
    .calendar-checklist--availablecalendar {
        font-weight: normal;
        font-size: .8em;
        color: #FFF;
        .calendar-checkbox--availablecalendar {
            margin: 0 5px 0 0;
        }
    }

    //calendar-event-view
    .calendar-container--events {
        height: 100%;
        .calendar-listitem--event {
            position: static;
            border-bottom: solid $white 2px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            &--summary {
                font-weight: bold;
            }
        }
    }
}