.calendar {
    background-color: $black;
    //calendar-settings
    .calendar-checklist--availablecalendar {
        font-weight: normal;
        font-size: .8em;
        color: #FFF;
        .calendar-checkbox--availablecalendar {
            margin: 0 5px 0 0;
        }
    }

    //calendar-event-view
    .calendar-container--events {
        .calendar-listitem--event {
            border-bottom: solid $white 2px;
            padding: 5px 7px;

            &--summary {
                font-weight: bold;
            }

            &--location, &--attendees {
                font-size: $font-size-small;
            }

            &:last-child {
                border-bottom: none;
            }

            &.all-day {
                border: 2px solid white;
                margin-bottom: $grid-gutter-width / 2;
            }
        }
    }
    .select-calendar-list {
        label {
            display: block;
            margin-bottom: 10px;
            font-weight: normal;
            cursor: pointer;
        }
    }
}
