.calendar {
    background-color: $black;
    //calendar-settings
    .calendar-checklist--availablecalendar {
        font-weight: normal;
        font-size: .8em;
        color: #FFF;
        .calendar-checkbox--availablecalendar {
            margin: 0 5px 0 0;
        }
    }

    //calendar-event-view
    .calendar-container--events {
        .calendar-listitem--event {
            border-bottom: solid $white 2px;
            margin-top: 5px;
            &--summary {
                font-size: 1.1em;
                font-weight: bold;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .calendar-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
