<div ng-controller="DashboardCtrl">
    <div class="container" ng-controller="LiveviewCtrl as liveview">
        <div class="row" ng-controller="VoiceCtrl">
            <div class="button-bar" show-on-mouse-move>
                <button type="button" class="btn button-module--resize-logout" ng-click="logout()"><i class="fa fa-power-off fa-3x"></i></button>

                <button type="button" class="btn button-module--resize" ng-click="addCalendar()"><i class="fa fa-calendar fa-3x"></i></button>
                <button type="button" class="btn button-module--resize" ng-click="addTime()"><i class="fa fa-clock-o fa-3x"></i></button>
                <button type="button" class="btn button-module--resize" ng-click="addWeather()"><i class="fa fa-cloud fa-3x"></i></button>
                <button type="button" class="btn button-module--resize" ng-click="addPublicTransport()"><i class="fa fa-subway fa-3x"></i></button>
            </div>
            <div class="grid-container" ng-mousemove="mouseIsMoving()">
                <ul id="grid" class="grid">
                    <li class="position-highlight">
                        <div class="inner">
                        </div>
                    </li>
                    <li liveview-module class="grid__module {{module.type}}" module="module" ng-model="modules"
                        ng-repeat="module in modules track by module.id">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>