<div ng-controller="DashboardCtrl">
    <div class="container" ng-controller="LiveviewCtrl as liveview">
        <div class="row">
            <div class="button-bar" show-on-mouse-move>
                <button type="button" class="btn btn-success" ng-click="logout()">Logout</button>
                <a href="/usersettings" type="button" class="btn btn-info">Usersettings</a>
                <button type="button" class="btn btn-danger" ng-click="addCalendar()">New Calendar Module</button>
                <button type="button" class="btn btn-danger" ng-click="addTime()">New Time</button>
            </div>
            <div class="grid-container" ng-mousemove="mouseIsMoving()">
                <ul id="grid" class="grid">
                    <li class="position-highlight">
                        <div class="inner">
                        </div>
                    </li>
                    <li liveview-module class="grid__module" module="module" ng-model="modules" ng-repeat="module in modules track by $index">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
