<div class="form-group">
    <label for="userName">Vorname</label>
    <input type="text" maxlength="64" id="userName" name="userName" class="form-control" required/>
</div>
<div class="form-group">
    <label for="firstName">Vorname</label>
    <input type="text" maxlength="64" id="firstName" name="firstName" class="form-control" required/>
</div>
<div class="form-group">
    <label for="lastName">Nachname</label>
    <input type="text" maxlength="64" id="lastName" name="lastName" class="form-control" required/>
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="email" maxlength="64" id="email" name="email" class="form-control" required/>
</div>
<div class="form-group">
    <label for="password">Passwort</label>
    <input type="password" maxlength="64" id="password" name="password" class="form-control" required/>
</div>
<div class="form-group">
    <label for="password-repeat">Passwort wiederholen</label>
    <input type="password" maxlength="64" id="password-repeat" name="password-repeat" class="form-control" required/>
</div>

<button type="submit" class="button">Registrieren</button>