.button {
    @extend .btn;

    &.button__module--edit {
        background-color: #c0c0c0;
        color: $black;
        float: right;
        clear: both;
        border-radius: 0;
        &:hover {
            background-color: $white;
        }
    }

    &.button__module--save {
        background-color: #c0c0c0;
        color: $black;
        float: right;
        clear: both;
        border-radius: 0;
        &:hover {
            background-color: $white;
        }
    }

    &.button__module--delete {
        background-color: #c0c0c0;
        color: $black;
        float: right;
        clear: both;
        border-radius: 0;
        &:hover {
            background-color: $white;
        }
    }

    &.button-module--resize {
        background-color: #c0c0c0;
        color: $black;
        float: left;
        border-radius: 0;
    }

    &.button__module-time--toggleCountdown{
        background-color: #c0c0c0;
        color: $black;
        float: right;
        clear: both;
        border-radius: 0;
        &:hover {
            background-color: $white;
        }
    }

    &.button-white {
        @extend .btn;
        background-color: white;
        border: 2px solid white;
        color: black;
    }

    &.button-white-ghost {
        @extend .btn;
        background-color: black;
        border: 2px solid white;
        color: white;
        transition: background-color, color 200ms;

        &:hover {
            background-color: white;
            color: black;
        }
        &.button-invalid:hover {
            color: indianred;
            border-color: indianred;
            background-color: black;
        }
    }
}

.btn-group {
    margin: 10px 0 0 0;
    .button-white {
        background: black;
        color: white;
        border-color: white;
        transition: background-color, color 500ms;

        &:focus {
            outline: 0;
            box-shadow: none;
        }

        &.selected {
            background: white;
            color: black;
        }

    }
}

.btn-module {
    @extend .btn;

    background-color: $black;
    color: $white;
    float: left;
    border: none;
    margin: 1%;

    &:hover{
        opacity: 0.7;
    }

    &.logout {
        float: right;
        position: relative;
        &:hover {
            color: lightskyblue;
        }
    }

    &.main-icon {
        z-index: 2;
        position: absolute;
    }

    &.plus {
        color: white;
        opacity: 1;
        z-index: 0;
        border: none;
    }

}

.wrap {
    position: relative;
    overflow: visible;

}

div.btn-group-module {
    .button {
        &.button-white {
            @extend .btn;
            background-color: white;
            border: 2px solid white;
            color: black;
            margin: 0;
            &:hover {
                background-color: black;
                color: white;
            }
            &.button--edit, &.button--delete{
                font-size: 1.2em;
                padding: 3px;
                width: 32px;
                height: 32px;
            }
        }

        &.button-white-ghost {

        }
    }
    position: absolute;
    right: 0;
    top: 0;
}
